.container {
    background-color: bisque;
    width: fit-content;
    margin: auto;
}
.sign-out {
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}